@-webkit-keyframes move {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(-32px, -14px);
    transform: translate(-32px, -14px);
  }
}
@keyframes move {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(-32px, -14px);
    transform: translate(-32px, -14px);
  }
}
@-webkit-keyframes sparkle {
  from {
    opacity: 0;
  }
  to {
    opacity: 0, 5;
  }
}
@keyframes sparkle {
  from {
    opacity: 0;
  }
  to {
    opacity: 0, 5;
  }
}
body {
  display: block;
  margin: 0;
  padding: 0;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  min-height: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.hero-section__title {
  font-size: 20px;
  color: #ffffff;
  font-family: "Source Sans 3", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-decoration: none;
}
.hero-section__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  z-index: 1;
}
.hero-section__nav ul {
  padding: 0;
}
.hero-section__nav ul li {
  display: inline;
}
.hero-section__nav ul li a {
  position: relative;
  font-size: 14px;
  color: #ffffff;
  font-family: "Source Sans 3", sans-serif;
  text-transform: uppercase;
  margin-right: 32px;
  letter-spacing: 0.2em;
  text-decoration: none;
}
.hero-section__nav--active:after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: -4px;
  left: 0;
  right: 0;
  background-color: #ffffff;
}
.hero-section__mobile-menu {
  display: none;
}
.hero-section__mobile-menu img {
  width: 22px;
}
.hero-section__background {
  background: url("../assests/Hero-Background.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}
.hero-section .hero-bg-stars {
  background: url("../assests/stars2.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.hero-section .hero-bg-rays {
  background: url("../assests/rays2.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: sparkle;
  animation-name: sparkle;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.hero-section .background--position {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: right center;
}
.hero-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 45px 152px 0;
  z-index: 1;
}
.hero-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -97px;
}
.hero-section__content h1 {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
  margin: 0 0 42px;
  text-align: center;
}
.hero-section__content p {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Source Sans 3", sans-serif;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  text-align: center;
}
.hero-section__content .hero-section__logo1 {
  width: 63px;
  height: 63px;
  margin-bottom: 13px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.hero-section__content .hero-section__logo1:hover {
  -webkit-transform: rotateY(180deg) scale(1.5);
  transform: rotateY(180deg) scale(1.5);
  translate: all 1s ease;
}
@media (max-width: 768px) {
  .hero-section__container {
    margin: 40px 20px 0 27px;
  }
  .hero-section__nav ul {
    display: none;
  }
  .hero-section__mobile-menu {
    display: block;
  }
}
@media (min-width: 900px) {
  .hero-section__container {
    margin-right: 64px;
    margin-left: 64px;
  }
}

.main-section {
  background-color: rgb(238, 238, 238);
  max-width: 1200px;
  width: 100%;
  min-height: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.main-section h2 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  color: #464547;
  padding-top: 88px;
  margin: 0;
}
.main-section h3 {
  color: #666666;
  font-family: "Source Sans 3", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin: 40px 0 0;
}
.main-section p {
  text-align: left;
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  color: #666666;
}
.main-section__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 83px 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 45px 143px 46px 150px;
  -webkit-column-gap: 83px;
  -moz-column-gap: 83px;
  column-gap: 83px;
}
.main-section__button--read-more {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #55c2d8;
  font-family: "Oswald", sans-serif;
  border-color: #55c2d8;
  border-radius: 18px;
  width: 115px;
  height: 36px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 98px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.main-section__button--read-more:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  translate: all 1s ease;
}
@media (max-width: 768px) {
  .main-section h2 {
    padding-top: 65px;
  }
  .main-section h2,
  .main-section h3,
  .main-section__columns p {
    margin: 0 24px;
  }
  .main-section__columns {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    row-gap: 24px;
    margin: 28px 0 24px;
  }
  .main-section__columns > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .main-section__button--read-more {
    margin-bottom: 116px;
  }
}
@media (min-width: 900px) {
  .main-section__columns {
    margin-right: 64px;
    margin-left: 64px;
  }
}

.learn-more-section {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(140, 79, 42, 0.3)),
      to(rgba(140, 79, 42, 0.3))
    ),
    url("../assests/learn-more-background_72dpi_RGB_ 1.jpg");
  background-image: linear-gradient(
      0deg,
      rgba(140, 79, 42, 0.3),
      rgba(140, 79, 42, 0.3)
    ),
    url("../assests/learn-more-background_72dpi_RGB_ 1.jpg");
  background-size: cover;
  max-width: 1200px;
  width: 100%;
  min-height: 666px;
  margin-left: auto;
  margin-right: auto;
}
.learn-more-section h2 {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  color: #ffffff;
  padding-top: 84px;
  margin: 0;
}
.learn-more-section h3 {
  color: lightgrey;
  font-family: "Source Sans 3", sans-serif;
  font-size: 24px;
  margin-top: 54px;
  margin-bottom: 86px;
}
.learn-more-section button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #39c2d7;
  border-color: #39c2d7;
  color: #ffffff;
  margin: 64px auto 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.learn-more-section button img {
  width: 55px;
}
.learn-more-section__video-button:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  scale: 0.9;
  translate: all 1s ease;
}
.learn-more-section button:hover img {
  -webkit-filter: brightness(0) saturate(100%) invert(68%) sepia(93%)
    saturate(467%) hue-rotate(150deg) brightness(91%) contrast(84%);
  filter: brightness(0) saturate(100%) invert(68%) sepia(93%) saturate(467%)
    hue-rotate(150deg) brightness(91%) contrast(84%);
  width: 50px;
}
.learn-more-section__block {
  text-align: center;
}
@media (max-width: 768px) {
  .learn-more-section h2,
  .learn-more-section h3 {
    margin: 0 24px;
  }
  .learn-more-section h3 {
    padding-top: 82px;
    padding-bottom: 73px;
  }
  .learn-more-section button {
    width: 100px;
    height: 100px;
  }
  .learn-more-section button {
    margin-top: 91px;
  }
  .learn-more-section button img {
    width: 36px;
  }
}

.footer-section {
  max-width: 1200px;
  width: 100%;
  min-height: 170px;
  background-color: #464547;
  margin-left: auto;
  margin-right: auto;
}
.footer-section__logo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  color: #ffffff;
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}
.footer-section__logo2 span {
  margin-left: 16px;
}
.footer-section a,
.footer-section p {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  text-decoration: none;
  margin: 0;
  line-height: 1.3;
  text-align: left;
  font-weight: 500;
}
.footer-section__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20em 1fr 1fr;
  grid-template-columns: 20em 1fr 1fr;
  -ms-grid-rows: (40px) [2];
  grid-template-rows: repeat(2, 40px);
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  padding: 37px 50px 20px 50px;
}
.footer-section__box > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.footer-section__box > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.footer-section__box > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.footer-section__box > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.footer-section__box > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.footer-section__box > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
@media (max-width: 768px) {
  .footer-section__box {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto 18px auto 18px auto;
    grid-template-rows: repeat(3, auto);
    row-gap: 18px;
    padding: 56px 0 29px;
    margin: 0;
  }
  .footer-section__box > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footer-section__box > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .footer-section__box > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .footer-section__box p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }
  .footer-section__hidden-div {
    display: none;
  }
}
