@mixin animate($animation, $duration, $direction, $iteration-count) {
  animation: $animation $duration $direction $iteration-count;
}
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(move) {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-32px, -14px);
  }
}

@include keyframes(sparkle) {
  from {
    opacity: 0;
  }
  to {
    opacity: 0, 5;
  }
}
