//colors
$hero-text-white: #ffffff;
$hero-bg-white: #ffffff;
$hero-text-lightgrey: rgba(255, 255, 255, 0.7);
$main-text-darkgrey: #464547;
$main-text-grey: #666666;
$main-bg-grey: rgba(238, 238, 238, 1);
$main-button-blue: #55c2d8;
$main-button-white: #ffffff;
$learn-more-text-white: #ffffff;
$learn-more-text-lightgrey: rgba(255, 255, 255, 1);
$learn-more-button-blue: #39c2d7;
$learn-more-button-white: #ffffff;
$footer-bg-darkgrey: #464547;
$footer-logo-white: #ffffff;
$footer-text-grey: rgba(255, 255, 255, 0.4);

//fonts
$font-par: "Source Sans 3", sans-serif;
$font-header: "Oswald", sans-serif;

//background img
@mixin backImage($image) {
  background: url($image);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}

@mixin gradientBackImage($image) {
  background-image: linear-gradient(
      0deg,
      rgba(140, 79, 42, 0.3),
      rgba(140, 79, 42, 0.3)
    ),
    url($image);
}
