@import "_variables.scss";
@import "_animations.scss";
@import "_mobile-queries.scss";

body {
  display: block;
  margin: 0;
  padding: 0;
}

.hero-section {
  display: flex;
  flex: 1;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  min-height: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &__title {
    font-size: 20px;
    color: $hero-text-white;
    font-family: $font-par;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-decoration: none;
  }
  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    z-index: 1;
    ul {
      padding: 0;
      li {
        display: inline;
        a {
          position: relative;
          font-size: 14px;
          color: $hero-text-white;
          font-family: $font-par;
          text-transform: uppercase;
          margin-right: 32px;
          letter-spacing: 0.2em;
          text-decoration: none;
        }
      }
    }
    &--active {
      &:after {
        position: absolute;
        content: "";
        height: 1px;
        bottom: -4px;
        left: 0;
        right: 0;
        background-color: $hero-bg-white;
      }
    }
  }
  &__mobile-menu {
    display: none;
    img {
      width: 22px;
    }
  }
  &__background {
    @include backImage("../assests/Hero-Background.png");
  }
  .hero-bg-stars {
    @include backImage("../assests/stars2.png");
    animation-direction: alternate;
    animation-duration: 3s;
    animation-name: move;
    animation-iteration-count: infinite;
  }
  .hero-bg-rays {
    @include backImage("../assests/rays2.png");
    animation-direction: alternate;
    animation-duration: 3s;
    animation-name: sparkle;
    animation-iteration-count: infinite;
  }
  .background--position {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: right center;
  }
  &__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin: 45px 152px 0;
    z-index: 1;
  }
  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: calc(-52px - 45px);
    h1 {
      font-family: $font-header;
      font-size: 48px;
      line-height: 64px;
      color: $hero-text-white;
      margin: 0 0 42px;
      text-align: center;
    }
    p {
      color: $hero-text-lightgrey;
      font-family: $font-par;
      font-size: 24px;
      line-height: 32px;
      margin: 0;
      text-align: center;
    }
    .hero-section__logo1 {
      width: 63px;
      height: 63px;
      margin-bottom: 13px;
      transition: all ease 0.5s;
      &:hover {
        transform: rotateY(180deg) scale(1.5);
        translate: all 1s ease;
      }
    }
  }
  @include for-tablet-portrait-up {
    &__container {
      margin: 40px 20px 0 27px;
    }
    &__nav ul {
      display: none;
    }
    &__mobile-menu {
      display: block;
    }
  }
  @include for-tablet-landscape-up {
    &__container {
      margin-right: 64px;
      margin-left: 64px;
    }
  }
}
.main-section {
  background-color: $main-bg-grey;
  max-width: 1200px;
  width: 100%;
  min-height: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  h2 {
    text-align: center;
    font-family: $font-header;
    font-size: 48px;
    color: $main-text-darkgrey;
    padding-top: 88px;
    margin: 0;
  }
  h3 {
    color: $main-text-grey;
    font-family: $font-par;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 40px 0 0;
  }
  p {
    text-align: left;
    font-family: $font-par;
    font-size: 16px;
    color: $main-text-grey;
  }
  &__columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 45px 143px 46px 150px;
    column-gap: 83px;
  }
  &__button--read-more {
    justify-content: center;
    align-items: center;
    background-color: $main-button-blue;
    font-family: $font-header;
    border-color: $main-button-blue;
    border-radius: 18px;
    width: 115px;
    height: 36px;
    font-size: 14px;
    text-transform: uppercase;
    color: $main-button-white;
    margin-bottom: 98px;
    transition: all ease 0.5s;
    &:hover {
      transform: rotate(10deg);
      transform-origin: bottom left;
      translate: all 1s ease;
    }
  }
  @include for-tablet-portrait-up {
    h2 {
      padding-top: 65px;
    }
    h2,
    h3,
    &__columns p {
      margin: 0 24px;
    }
    &__columns {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      row-gap: 24px;
      margin: 28px 0 24px;
    }
    &__button--read-more {
      margin-bottom: 116px;
    }
  }
  @include for-tablet-landscape-up {
    &__columns {
      margin-right: 64px;
      margin-left: 64px;
    }
  }
}
.learn-more-section {
  @include gradientBackImage(
    "../assests/learn-more-background_72dpi_RGB_\ 1.jpg"
  );
  background-size: cover;
  max-width: 1200px;
  width: 100%;
  min-height: 666px;
  margin-left: auto;
  margin-right: auto;
  h2 {
    font-family: $font-header;
    font-size: 48px;
    color: $learn-more-text-white;
    padding-top: 84px;
    margin: 0;
  }
  h3 {
    color: lightgrey;
    font-family: $font-par;
    font-size: 24px;
    margin-top: 54px;
    margin-bottom: 86px;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: $learn-more-button-blue;
    border-color: $learn-more-button-blue;
    color: $learn-more-button-white;
    margin: 64px auto 0;
    transition: all ease 0.5s;
    img {
      width: 55px;
    }
  }
  &__video-button:hover {
    background-color: $learn-more-button-white;
    border-color: $learn-more-button-white;
    scale: 0.9;
    translate: all 1s ease;
  }
  button:hover img {
    filter: brightness(0) saturate(100%) invert(68%) sepia(93%) saturate(467%)
      hue-rotate(150deg) brightness(91%) contrast(84%);
    width: 50px;
  }
  &__block {
    text-align: center;
  }
  @include for-tablet-portrait-up {
    h2,
    h3 {
      margin: 0 24px;
    }
    h3 {
      padding-top: 82px;
      padding-bottom: 73px;
    }
    button {
      width: 100px;
      height: 100px;
    }
    button {
      margin-top: 91px;
    }
    button img {
      width: 36px;
    }
  }
}
.footer-section {
  max-width: 1200px;
  width: 100%;
  min-height: 170px;
  background-color: $footer-bg-darkgrey;
  margin-left: auto;
  margin-right: auto;

  &__logo2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: $footer-logo-white;
    font-family: $font-par;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;

    span {
      margin-left: 16px;
    }
  }
  a,
  p {
    color: $footer-text-grey;
    font-family: $font-par;
    font-size: 16px;
    text-decoration: none;
    margin: 0;
    line-height: 1.3;
    text-align: left;
    font-weight: 500;
  }
  &__box {
    display: grid;
    grid-template-columns: 20em 1fr 1fr;
    grid-template-rows: repeat(2, 40px);
    align-items: end;
    padding: 37px 50px 20px 50px;
  }
  @include for-tablet-portrait-up {
    &__box {
      grid-template-columns: auto;
      grid-template-rows: repeat(3, auto);
      row-gap: 18px;
      padding: 56px 0 29px;
      margin: 0;
    }
    &__box p {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      text-align: center;
    }
    &__hidden-div {
      display: none;
    }
  }
}
